.item-price {
    display: flex;
    flex-direction: column;
    width: 350px;
}
.item p{
    font-size: 20px;
    color: #333;
    margin: 6px 0px;
}
.item-price{
    display: flex;
    align-items: center;
    gap: 20px;
}
.item-price-new {
    font-weight: bold;
    color: #ff0000;
    font-size: 24px;
}

.item-price-old {
    text-decoration: line-through;
    color: #888888;
    font-size: 24px;

}
.item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: 0.6s;
}
